/* font-weight:400,700 */
body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: hsl(0, 0%, 100%);
    background-image: linear-gradient(hsl(232, 19%, 15%) 30%,hsl(230, 17%, 14%) 70%);
}

.outside{
    text-align: center;
}

.container{
    width:90%;
    margin: auto;
}

.button-containeer{
    text-align: center;
    margin: 4% 8% auto; 
    display: flex;
    justify-content: flex-end;
}

.mode{
    font-weight: 600; 
    font-size:15px;
}

.lime-green{
    font-size: 12px;
    color:hsl(163, 72%, 41%) ;
}

.bright-red{
    font-size: 12px;
    color: hsl(356, 69%, 56%);
}

.header,.main{
    display: flex;
}

.main > div{
    width: 50%;
}

.heading{
    font-size: 1.5rem;
    font-weight: 700;
    padding-top: 10px;
    padding-left: 50px;
    margin-bottom: 0;
}

.sub-heading{
    font-weight: 600;
    margin-top: 0;
    font-size: 15px;
    padding-top: 10px;
    padding-left: 50px;
}


.social-media{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    margin: 2.5% auto;
} 
 
.card{
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
    width: 250px;
    height: 200px;
    color: hsl(228, 34%, 66%);
    background-color:hsl(228, 28%, 20%);
}

.card:hover{
    background-color:#ccd9ff;
    opacity: 0.7;
}

.facebook{
    border-top: solid 4px hsl(208, 92%, 53%) ;
}

.twitter{
    border-top: solid 4px hsl(203, 89%, 53%);
}

.instagram{ 
    border-top: 4px solid transparent; 
    border-image: linear-gradient(to right,hsl(37, 97%, 70%) , hsl(329, 70%, 58%)); 
    border-image-slice: 1;
}

.youtube{
    border-top: solid 4px hsl(348, 97%, 39%);
}

.top{
    margin-top: 15px; 
    display: flex;
    justify-content: center;
}

.top-icon{
    margin: 50% 5px;
}

.letter-4{
    margin-top: 0;
    letter-spacing: 4px;
}

.date{
    margin: 0;
    font-size: 3.5rem;
    font-weight: 700;
    color: white;
}
/* overview */

.wrapper{
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap; 
    align-content: space-between;
    padding-bottom: 5%;
}

.overview{
    padding-left: 50px; 
    font-size: 1.5rem; 
    padding-top: 25px;
}

.like-card{
    border-radius: 5px;
    margin: 20px 0;
    height: 125px;
    width: 250px;
    background-color:hsl(228, 28%, 20%) ;
}

.like-card:hover{
    background-color:#ccd9ff;
    opacity: 0.7;
}


.LHS{
    
    display: flex;
    width: 50%;
    justify-content: center;
}

.text{
    
    font-weight: 600;
    color: hsl(228, 34%, 66%);
    font-size: 15px;
    margin-top: 30px; 
}

.number{
    font-size: 2rem;  
    font-weight: bolder;  
    margin-top: 5px;
}

.like-card-logo{
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;   
}

.RHS{ 
    margin-top: 5px; 
    display: flex; 
    padding-left: 40px;   
}


.arrow{
    margin: 9% 5%;
}

.dark-mode{
    left: 5px;
}

.light-mode{
    left: 25px;
}

.slidebar{
    position: relative;
    cursor: grab;
    margin-top: 10px;
    margin-left: 10px;
    border-radius:25px;
    height:30px;
    width:55px;
    background-image:linear-gradient(to right,hsl(210, 78%, 56%),hsl(146, 68%, 55%));
}

.dot{
    position: absolute;
    border-radius:25px;
    height:25px;
    width:25px;
    top: 2px;
    background-color: hsl(230, 17%, 14%);
}

@media (max-width:896px){
    .main{
        flex-direction: column;
    }
    .main>div{
        width: 100%;
    }
    .button-containeer{
        justify-content: flex-start;
    }
}

@media (max-width:500px){
    .button-containeer{
        padding-left: 20px;
    }

    .overview{
        padding-left: 100px;
    }
}